@font-face {
  font-family: "roboto-b";
  src: url("../font/roboto.bold.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-r";
  src: url("../font/roboto.regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-l";
  src: url("../font/roboto.light.ttf") format("truetype");
}
body {
  margin: 0 auto;
  font-family: "roboto-r";
}
.container-fluid {
  width: 100%;
}
h1 {
  font-family: "roboto-b";
  font-size: 80px;
  letter-spacing: 5px;
  font-weight: bold;
}
h2 {
  font-family: "roboto-b";
  font-size: 27px;
}
h3 {
  font-family: "roboto-l";
  font-size: 15px;
}
h5 {
  font-family: "roboto-r";
  font-size: 18px;
}
.absolute {
  position: absolute !important;
}
.center-things {
  left: 0px;
  right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.navbar {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  display: flex;
  justify-content: center;
}
.navbar .navbar-brand {
  padding-top: 30px;
  margin-left: 20px !important;
  font-family: "roboto-b";
  font-size: 30px;
}
.navbar ul.dropdown-menu li {
  width: 100%;
}
.navbar ul.dropdown-menu li a {
  width: 100%;
  height: 50px;
  padding-top: 15px;
}
.navbar ul li {
  min-width: 120px;
}
.navbar ul li a {
  width: 100%;
  height: 80px;
  padding-top: 30px;
  text-align: center;
  font-family: "roboto-b";
  font-size: 18px;
}
.navbar.scrolled {
  background: transparent;
}
#section-header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 100px;
  color: #fff;
}
#section-header span {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}
#section-header .border {
  padding: 20px;
  border: 1px solid #fff;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
#section-header .border h2 {
  font-family: "roboto-r";
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #fff;
  position: relative;
  z-index: 10;
}
#section-header .border h2:last-child {
  font-size: 22px;
  padding-bottom: 10px;
}
#section-header h1.header-up {
  margin-top: 200px;
}
#section-first {
  padding-top: 80px 0px;
  color: #34495e;
  min-height: 100vh;
  background-color: #ecf0f1;
}
#section-first h1 {
  position: relative;
  font-family: "roboto-l";
}
#section-first h1 .glyphicon {
  top: 10px;
}
#section-first h1 .border-bottom {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  border-bottom: 2px solid #34495e;
}
#section-first .trio {
  margin-top: 80px;
}
#section-first .trio .col-md-4 {
  margin-bottom: 50px;
}
#section-first .trio .col-md-4 a:hover {
  text-decoration: none;
}
#section-first .trio .col-md-4 hr {
  border-bottom: 1px solid #34495e;
}
#section-first .trio .wrapper-circle {
  width: 230px;
  height: 230px;
  border-radius: 140px;
  background-color: transparent;
  margin: 0 auto;
  border: 1px solid #34495e;
  position: relative;
  margin-bottom: 50px;
}
#section-first .trio .wrapper-circle h4 {
  font-family: "roboto-b";
  color: #34495e;
}
#section-first .trio .wrapper-circle img {
  margin: 0 auto;
  margin-top: 32%;
  width: 65px;
}
#section-second {
  min-height: 100vh;
  background-color: #1abc9c;
}
#section-second > .container {
  position: relative;
  z-index: -10;
}
#section-second #section2-right {
  background-color: #1abc9c;
  width: 50%;
  min-height: 100vh;
  float: left;
  padding: 5% 0px;
  position: relative;
  background-image: url("../img/garis_vertikal.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
#section-second .second-parallax {
  width: 50%;
  min-height: 100vh;
  position: relative;
  padding: 5% 0px;
  background-color: #64ddbb;
  float: left;
}
#section-second .second-parallax .phone-wrapper {
  width: 400px;
  min-height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#section-second .second-parallax .phone-wrapper .screen-wrapper-parent {
  position: absolute;
  top: 106px;
  bottom: 0;
  left: 20px;
  width: 366px;
  height: 524px;
  overflow: hidden;
}
#section-second .second-parallax .phone-wrapper .phone {
  position: relative;
  top: 0;
  z-index: 2;
}
#section-second .second-parallax .phone-wrapper .screen-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 732px;
  height: 524px;
  overflow: hidden;
  background-color: #fff;
}
#section-second .second-parallax .phone-wrapper .screen-wrapper .screen-wrapper-abs {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  width: 366px;
  float: left;
}
#section-second .second-parallax .phone-wrapper .screen-wrapper .screen-wrapper-abs > .line {
  width: 328px;
  background-image: url("../img/img_divider.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 21px;
  position: absolute;
  top: 233px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
#section-second .second-parallax .phone-wrapper .screen-wrapper .screen-wrapper-abs .wrapper-circle-phone {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 156px;
  left: 0;
  right: 0;
  top: 65px;
  border: 3px solid #34495e;
  border-radius: 138px;
  height: 155px;
  z-index: 10;
  text-align: center;
}
#section-second .second-parallax .phone-wrapper .screen-wrapper .screen-wrapper-abs .wrapper-circle-phone > img {
  width: 151px;
}
#section-second .second-parallax .phone-wrapper .screen-wrapper .screen-wrapper-abs .information {
  position: absolute;
  border: 1px solid #34495e;
  border-radius: 20px;
  color: #34495e;
  width: 90%;
  height: 180px;
  margin: 0 5%;
  bottom: 80px;
  padding: 10px 3%;
}
#section-second .second-parallax .phone-wrapper .screen-wrapper .screen-wrapper-abs .information .line-div {
  border-bottom: 1px solid #34495e;
  height: 1px;
  margin: 0 15px;
  width: 90%;
}
#section-second .second-parallax .phone-wrapper .screen-wrapper .screen-wrapper-abs .paging {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 5px 50px 0;
  z-index: 10;
}
#section-second .second-parallax .phone-wrapper .screen-wrapper .screen-wrapper-abs .paging img {
  width: 60px;
}
#section-second .second-parallax .phone-wrapper .screen-wrapper .wrapper-box {
  width: 400px;
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #f00;
}
#section-second .second-parallax .phone-wrapper .screen-wrapper .phone-header {
  font-family: "roboto-b";
  font-size: 33px;
  position: absolute;
  top: 0;
  color: #3f3f3f;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 2px;
  text-align: center;
}
#section-second .second-parallax .phone-wrapper .screen-wrapper .phone-bg {
  position: absolute;
  top: 0;
}
#section-second .row {
  position: relative;
}
#section-second .row .wrapper-circle2 {
  width: 230px;
  height: 230px;
  border-radius: 140px;
  background-color: transparent;
  margin: 0 auto;
  border: 1px solid #34495e;
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}
#section-second .row .wrapper-circle2 h4 {
  font-family: "roboto-b";
  color: #34495e;
}
#section-second .row .wrapper-circle2 img {
  margin: 0 auto;
  margin-top: 34%;
  width: 65px;
}
#section-second .row .col-md-4 {
  position: relative;
}
#section-second .row .col-md-4 .section2-line {
  width: 90%;
  background-color: #34495e;
  height: 3px;
  position: absolute;
  top: 110px;
}
#section-second .row .col-md-4:first-child {
  padding-top: 40px;
}
#section-second .row .col-md-4:last-child {
  padding-top: 40px;
}
@media (max-width: 766px) {
  .navbar {
    height: 80px;
  }
  .navbar button {
    margin-top: 20px;
  }
  .navbar ul li {
    background-color: #f8f8f8;
    border-bottom: 0.5px solid #34495e;
  }
  .navbar ul.dropdown-menu li:last-child {
    border: none;
  }
}
