$putih = white
$turqoise = #ecf0f1
$black = #34495e

@font-face
	font-family "roboto-b"
	src url("../font/roboto.bold.ttf") format("truetype")

@font-face
	font-family "roboto-r"
	src url("../font/roboto.regular.ttf") format("truetype")

@font-face
	font-family "roboto-l"
	src url("../font/roboto.light.ttf") format("truetype")

body
	margin 0 auto
	font-family "roboto-r"

.container-fluid
	width 100%

h1
	font-family "roboto-b"
	font-size 80px
	letter-spacing 5px
	font-weight bold
h2
	font-family "roboto-b"
	font-size 27px

h3
	font-family "roboto-l"
	font-size 15px
	
.absolute
	position absolute !important
.center-things
	left 0px
	right 0px
	margin-left 0px
	margin-right 0px
	
.navbar 
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
	display: flex;
	justify-content: center;
	.navbar-brand
		padding-top 30px
		margin-left 20px !important
		font-family "roboto-b"
		font-size 30px
	ul.dropdown-menu
		li
			width 100%;
			a
				width 100%
				height 50px
				padding-top 15px
	ul
		li
			min-width 120px
			a
				width 100%
				height 80px
				padding-top 30px
				text-align center
				font-family "roboto-b"
				font-size 18px
			

.navbar.scrolled 
	background: transparent

#section-header
	height 100vh
	width 100%
	overflow hidden
	position relative
	padding-top 100px
	color white
	span
		display block
		width 100px
		margin-left auto
		margin-right auto
		font-size 30px
	.border
		padding 20px
		border 1px solid white
		width 700px
		margin-left auto
		margin-right auto
		h2
			font-family "roboto-r"
			font-size 30px
			margin-top 10px
			margin-bottom 5px
			color $putih
			position relative
			z-index 10
			&:last-child
				font-size 22px
				padding-bottom 10px
	h1.header-up
		margin-top 200px


#section-first
	padding-top 80px 0px
	color #34495e
	min-height 100vh
	background-color $turqoise
	h1
		position relative
		font-family "roboto-l"
		.glyphicon
			top 10px
		.border-bottom
			margin-left auto
			margin-right auto
			width 650px
			border-bottom 2px solid $black
	.trio
		margin-top 80px
		.col-md-4
			margin-bottom 50px
			a
				&:hover
					text-decoration none
			hr
				border-bottom 1px solid $black
		.wrapper-circle
			width 230px
			height 230px
			border-radius 140px
			background-color transparent
			margin 0 auto
			border 1px solid $black
			position relative
			margin-bottom 50px
			h4
				font-family "roboto-b"
				color $black
			img
				margin 0 auto
				margin-top 32%
				width 65px
				
#section-second
	min-height 100vh
	background-color #64DDBB
	.second-parallax
		width 50%
		min-height 100vh;
		position relative
		padding 150px 0px
		.phone-wrapper
			width 400px
			min-height auto
			margin-left auto
			margin-right auto
			position relative
			.phone
				position relative
				top 0
				z-index 2
			.screen-wrapper
				position absolute
				top: 106px;
				bottom: 0;
				left 20px
				width 366px;
				height 524px
				overflow hidden;
				.screen-wrapper-abs
					position relative;
					top:0
					left: 0;
					height 100%
					background-color white;
					overflow hidden;
					> .line
						width 328px
						background-image url("../img/img_divider.png");
						background-repeat no-repeat
						background-position center
						height 21px;
						position absolute
						top: 233px;
						margin-left auto
						margin-right auto
						left 0
						right 0
					.wrapper-circle-phone
						position absolute
						margin-left auto
						margin-right auto
						width 156px
						left 0
						right 0
						top 65px
						border 3px solid $black
						border-radius 138px
						height 155px
						z-index 10
						text-align center
						> img
							width 151px
							
				.wrapper-box
					width 400px;
					position absolute
					top 300px
					left 0
					right 0
					margin-left auto
					margin-right auto
					background-color red
				.phone-header
					font-family "roboto-b"
					font-size 33px
					position absolute
					top: 0;
					color #3f3f3f
					left 0px
					right 0px
					margin-left auto
					margin-right auto
					letter-spacing 2px
					text-align center
				.phone-bg
					position absolute
					top 0
	.row
		position relative
		.wrapper-circle2
			width 230px
			height 230px
			border-radius 140px
			background-color transparent
			margin 0 auto
			border 1px solid $black
			position relative
			margin-bottom 50px
			text-align center
			h4
				font-family "roboto-b"
				color $black
			img
				margin 0 auto
				margin-top 34%
				width 65px
		.col-md-4
			position relative
			.section2-line
				width 90%
				background-color $black
				height 3px
				position absolute
				top 110px
			&:first-child
				padding-top 40px
			&:last-child
				padding-top 40px
				

@media (max-width: 766px)
	.navbar
		height 80px
		button
			margin-top 20px
		ul
			li
				background-color #f8f8f8
				border-bottom 0.5px solid $black
		ul.dropdown-menu
			li
				&:last-child
					border none
	
